<!-- attribut.component.html -->

<div>
  <h2>Attribute List</h2>

  <!-- Add Attribute Form -->
  <form (ngSubmit)="addAttribut()">
    <label for="libAttribut">Attribute libele:</label>
    <input type="text" placeholder="Attribut libellé" [(ngModel)]="newAttribut.libAttribut" [ngModelOptions]="{standalone: true}" required>
    <label for="nameAttribut">Attribute Name:</label>
    <input type="text" placeholder="Attribut name" [(ngModel)]="newAttribut.nameAttribut" [ngModelOptions]="{standalone: true}" required>
    
    <label for="selectedModule">Select Module:</label>
    <select id="selectedModule" [(ngModel)]="selectedModuleId" name="selectedModule" required>
      <option *ngFor="let module of modules" [value]="module.idModule ">{{ module.nameTabModule }}</option>
    </select>

    <button type="submit">Add Attribute</button>
  </form>

  <!-- Attribute List Table -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>lib</th>
        <th>name</th>
        <th>Module</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attribut of attributs">
        <td>{{ attribut.idAttribut}}</td>
        <td>{{ attribut.libAttribut }}</td>
        <td>{{ attribut.nameAttribut }}</td>
        <td>{{  attribut.module.nameTabModule }}</td>
        <td>
          <button (click)="editAttribut(attribut)">Edit</button>
          <button (click)="deleteAttribut(attribut.idAttribut)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Edit Attribute Form -->
  <div *ngIf="isEditMode">
    <h3>Edit Attribute</h3>
    <form (ngSubmit)="updateAttribut()">
      <label for="editAttributeName">Attribute libele:</label>
      <input type="text" id="editAttributeName" [(ngModel)]="attributToUpdate.libAttribut" name="editAttributeName" required>
      <label for="editAttributelib">Attribute name:</label>
      <input type="text" id="editAttributelib" [(ngModel)]="attributToUpdate.nameAttribut" name="editAttributelib" required>

      <button type="submit">Update Attribute</button>
      <button (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
